@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
body {
  font-family: "Lato", sans-serif;
}
.header {
  padding: 20px 0;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.home {
  background-image: url(../image/homebackgraund.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left,
.header__list,
.header__right {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__outh {
  display: flex;
  align-items: center;
  background: none;
  font-size: 16px;
  color: #424551;
  font-weight: 700;
  border: none;
  gap: 5px;
  cursor: pointer;
}
.header__outh > img {
  height: 17.92;
  width: 16.67;
}
.section__btn {
  padding: 16px 40px;
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to right, #ff3f3a, #f75e05);
  font-size: 18px;
  color: #f7f7f7;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.section__btn:hover {
  opacity: 0.8;
}
.section__btn2 {
  background-color: transparent;
  padding: 16px 40px;
  border: none;
  border-radius: 4px;
  border: 1px solid #f75e05;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5;
  color: #f75e05;
  cursor: pointer;
}

.section__title {
  font-size: 46px;
  line-height: 130%;
  font-weight: 900;
  color: #1e212c;
}
.section__subtitle {
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  color: #1e212c;
  text-transform: uppercase;
}
.header__navbar {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__item {
  font-size: 20px;
  font-weight: 700;
  color: #424551;
}

/* hero section sytle */
.hero {
  padding: 112px 0;
}
.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
  gap: 96px;
}
.hero__left--title {
  font-size: 50px;
  font-weight: 900;
  line-height: 130%;
  color: #1e212c;
  letter-spacing: 1px;
  margin: 24px;
}

/* hero section ends */
/* stats section styls  */
.stats {
  padding: 112px 0;
}
.stats__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stats__item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.stats__clrcle {
  background-color: #ff3f3a;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}
.stats__description {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #1e212c;
}
/* stats styles ends */
/* about section style */
.about__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 35px;
}

.about__title {
  font-size: 56px;
  color: #1e212c;
  margin: 8px 0 24px 0;
}
.about__item {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
  align-items: start;
}
.amout__check {
  margin-top: 4px;
}
.about__btn {
  margin-top: 32px;
}
.about__text {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400px;
  color: #1e212c;
}
/* about section style ends */
/* courses section style */
.courses {
  margin: 128px 0;
}
.courses__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.courses__bottom {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.courses__card {
  width: calc((1230px - 24px) / 2);
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 4px;
  border: 1px solid #e5ebed;
}
.courses__right {
  padding: 24px;
}
.courses__cart--cotigory {
  border-radius: 4px;
  padding: 1px 8px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400px;
  color: #fff;
  background-color: #03cea4;
}
.courses__cart--cotigory2 {
  border-radius: 4px;
  padding: 1px 8px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400px;
  color: #fff;
  background-color: #5a87fc;
}
.courses__cart--cotigory3 {
  background-color: #f89828;
  border-radius: 4px;
  padding: 1px 8px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: #fff;
}
.courses__cart--cotigory4 {
  background-color: #f52f6e;
  border-radius: 4px;
  padding: 1px 8px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: #fff;
}
.courses__card--left {
  margin: 10px;
}
/* courses section style ends */
/* benifits section style */
.benifits__content {
  text-align: center;
}
.benifits__tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 40px 0;
  cursor: pointer;
}
.benifits__item {
  flex: 1;
  text-align: center;
}
.benifits__item__btn1.active {
  color: #ff3f3a;
  border: 1px solid #ff3f3a;
  padding: 8px 10px;
  border-radius: 4px;
  background: none;
}
.benifits__item__btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  color: #9a9ca5;
  width: 100%;
}
.benifits__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.benifits__bottom--left--title {
  font-size: 32px;
  line-height: 130%;
  font-weight: 900;
  color: #1e212c;
}
.benifits__botton--left--text {
  color: #424551;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  margin: 20px 0 20px 0;
}
/* benifits section style ends */
/* sertificate section styles */
.sertificate {
  margin: 20px;
}
.sertificate__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 128px;
}
.sertificate__left--title {
  margin: 30px 0;
}
.sertificate__left--description {
  color: #424551;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
}
.sertificate__left--logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/* sertificate section style ens */
